{{ 'college-grid.css' | asset_url | stylesheet_tag }}

<style>
  {% for block in section.blocks %}
    .college-item-{{ block.id }}{
      width:calc({{block.settings.width}}% - 8px);
    }
    {% capture mobile_css %} {{ mobile_css }}
      .college-item-{{ block.id }}{
        width:calc({{block.settings.width_mobile}}% - 5px);
      }
    {% endcapture %}
  {% endfor %}
  .college-image-item img{
    max-width:100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  .college-image-items {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .college-image-item {
    display: flex;
    border-radius: 12px;
    overflow: hidden;
    height: 100%;
    width: 100%;
  }
  .college-image-link {
    display: block;
    width: 100%;
    height: 100%;
  }
  .college-image-link:hover {
    opacity: 0.9;
    transition: opacity 0.3s ease;
  }
  @media (max-width:767px){
    {{ mobile_css }}
  }
  {% render 'section-margin' %}
  {% render 'section-padding' %}
</style>

<div class="multicolumn-images-main color-{{ section.settings.color_scheme }}">

  <div class="container">
    <div class="section-{{ section.id }}-padding">
      
      {%- if section.settings.heading != blank -%}
        <h2 class="{{ section.settings.heading_size }} featured-products__heading featured-products__heading--main">
          {{ section.settings.heading }}
        </h2>
      {%- endif -%}
      
      <div class="college-image-items">
        {% for block in section.blocks %}
          <div class="college-item-{{ block.id }}">
            <div class="college-image-item">
              {% if block.settings.link != blank %}
                <a href="{{ block.settings.link }}" class="college-image-link">
                  <img src="{{ block.settings.image | image_url }}" width="auto" height="auto" alt="college-image"/>
                </a>
              {% else %}
                <img src="{{ block.settings.image | image_url }}" width="auto" height="auto" alt="college-image"/>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  
</div>

{% schema %}
{
  "name": "Multicolumn Images",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "background-1",
          "label": "t:sections.all.color_scheme.options__1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.color_scheme.options__2.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "Heading",
      "label": "t:sections.all.heading.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h3",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h2",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.section-margin.header.content"
    },
    {
      "type": "select",
      "id": "margin_top",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-margin.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-margin.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-margin.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-margin.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-margin.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-margin.options__6.label"
        }
      ],
      "default": "no-indent",
      "label": "t:sections.all.section-margin.margin_top.label"
    },
    {
      "type": "select",
      "id": "margin_bottom",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-margin.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-margin.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-margin.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-margin.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-margin.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-margin.options__6.label"
        }
      ],
      "default": "no-indent",
      "label": "t:sections.all.section-margin.margin_bottom.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.section-padding.header.content"
    },
    {
      "type": "select",
      "id": "padding_top",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-padding.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-padding.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-padding.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-padding.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-padding.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-padding.options__6.label"
        }
      ],
      "default": "m",
      "label": "t:sections.all.section-padding.padding_top.label"
    },
    {
      "type": "select",
      "id": "padding_bottom",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-padding.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-padding.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-padding.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-padding.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-padding.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-padding.options__6.label"
        }
      ],
      "default": "m",
      "label": "t:sections.all.section-padding.padding_bottom.label"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "width",
          "label": "Width",
          "min": 1,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 50
        },
        {
          "type": "range",
          "id": "width_mobile",
          "label": "Width (Mobile)",
          "min": 1,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 50
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Multicolumn Images"
    }
  ]
}
{% endschema %}
